body { background-color: bisque;
    font-family: Times new roman  ;
    color: black; 
 margin:10px;
text-align:left;}
 

#img_redonda {
    height: 200px;
    height: 200px;
    border-radius: 90px;}
    #listas
    {color: aliceblue;}
